streamlit #web app
#utilities
numpy
pandas

#face recognition SVM for classification 
scikit-learn 
dlib-bin
# python -m pip install dlib-19.24.1-cp311-cp311-win_amd64.whl

git+https://github.com/ageitgey/face_recognition_models

setuptools<70.0.0
supabase #free database which have best performance and stores 1 to 2 gb data which is enough for text data
bcrypt # for hashing the passwords
segno # for QR CODE generation
pilow # for image processing  ==>image  dealing library

librosa
resemblyzer
